<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Spot AT {{spot.address1}}">
  <ion-content class="padding">
    <img ng-src="{{spot.image}}" style="width: 250px; height: 250px" align="center">
    <p>
      <label>Address Street </label>{{spot.address1}}</p><p>
       {{spot.address2}}</p><p>
      <label>Spot Type:</label>{{spot.spotType}}</p><p>
      <label>Rate/Hr($):</label>{{spot.rateHr|currency}}</p><p>
       <label>Rate/Montly:</label>{{spot.rateMonthly|currency}}</p><p>
         <label>Description:</label>{{spot.description}}</p><p>
         <label>Spot Size:</label>{{spot.carSize}}
    </p>
    <ul class="list">
      <a href="#/spot-booking/{{spot.spotId}}" class="item">Book Spot</a>
    </ul>
    </ion-content>
  </ion-content>
</ion-view>
